{% load static %}

<html>
    <head>
        <title>{% block title %}HealthNet{% endblock %}</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="{% static 'css/base.css' %}"  />
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'photos/favicon.ico' %}?"/>
        {% block head %}{% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="{% if user.is_authenticated %}/dashboard{% else %}/{% endif %}">HealthNet</a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav my-2 my-lg-0 ml-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="{% url 'inbox' %}" role="button" aria-haspopup="true" aria-expanded="false">
                        Messages {{user.unread}}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="Preview">
                            <a class="dropdown-item" href="{% url 'inbox' %}">Inbox</a>
                            <a class="dropdown-item" href="{% url 'sentbox' %}">Sent</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'dashboard' %}">Dashboard</a>
                    </li>
                    {% if user.user_type == 'PA' %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                        Medical Info
                        </a>
                        <div class="dropdown-menu" aria-labelledby="Preview">
                            <a class="dropdown-item" href="{% url 'medical' %}">View Medical Info</a>
                            <a class="dropdown-item" href="{% url 'prescriptions' user.id %}">View Prescriptions</a>
                            <a class="dropdown-item" href="{% url 'tests' user.id %}">View Tests</a>
                        </div>
                        </li>
                    {% endif %}

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'profile' user.id %}">Profile</a>
                    </li>
                    {% if user.user_type != 'AD' %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'calendar' %}">Calendar</a>
                    </li>
                    {% endif %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle"  id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ user.email }}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                        </div>
                    </li>

                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'register' %}">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Login</a>
                    </li>
                {% endif %}
                </ul>
            </div>
        </nav>
        <br />
    {% block content %}{% endblock content %}
    <script>
    $('input[type=text], input[type=password], textarea, input[type=email], select').addClass('form-control');
    </script>
    </body>
</html>
